/* Pagination Style */
.pagination__section {
    background-color: $light-gray;
    padding: 70px 0 50px;
}

.pagination__item {
   &:first-child .pagination__link {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
   }
   &:last-child .pagination__link {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
   }
}
.pagination__item--active .pagination__link{
    background-color: $nickel;
    border: 1px solid $nickel;
    color: $white;
}

.pagination__link{
    color: $raisin-black;
    &:hover {
        background-color: $nickel;
        border: 1px solid $nickel;
        color: $white;
    }
    &:focus{
        box-shadow: none;
    }
}