/* Estilos Generales */

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.bg-black{
    background-color: #090909;
}
.bg-turquoise{
    background-color: #0ca7b3;
}
hr{
    background-color: #0ca7b3;
    height: 2px;
    margin-bottom: 2.5rem; 
}

.navbar-nav .active , .item-hover{
    border-left: 2px solid rgba(255,255,255,.8);
    padding-left: 1.2rem;
}

/* Estilos Carousel */

header .carousel .carousel-inner .carousel-item{
    max-height: 100vh;
}
header .carousel .carousel-inner .carousel-item .carousel-caption{
    bottom: 50px;
}
header .carousel .carousel-inner .carousel-item .carousel-caption h2{
    font-weight: 800;
}

/* Estilos Quienes Somos */

#Quienes-Somos .accordion .card{
    background-color: inherit;
    border: 0;
}
#Quienes-Somos .accordion .card .card-header{
    background-color: #0ca7b3;
    padding: 0;
}
#Quienes-Somos .accordion .card .card-header div i{
    color: #fff;
    font-size: 1.4rem;
}

/* Estilos Destacados */

#Destacados .card .card-body a{
    color: #fff;
    font-weight: 500;
    font-style: italic;
}

/* Estilos del Footer */

footer div p{
    font-size: 1.8rem;
    font-weight: 500;
}
footer div i{
    font-size: 2rem;
    color: #fff;
}

@media (min-width:768px){

    .navbar-nav .active , .item-hover{
        border-bottom: 2px solid rgba(255,255,255,.8);
        border-left: 0;
        padding-left: 0;
    }
    header .carousel .carousel-inner .carousel-item .carousel-caption h2{
        font-size: 60px;
    }

}