// Color Scheme

// First Colot Scheme
$raisin-black: #222323;
$nickel: #6C6E70;
$light-gray: #DDD;
$white: #FFF;

// Second Color Scheme
$carolina: #57A0D3;
$baby-blue: #89CFF0;
$powder: #B0DFE5;

// Third Color Scheme
$desire: #EA3C53;
$imperial-red: #ED2939;
$crimsom: #B80F0A;

// Typography

// Font Family
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 500;
$bold: 700;

// Font Size
$xxxx-large: 42px;
$xxx-large: 32px;
$xx-large: 26px;
$x-large: 22px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 10px;