// Color Scheme

//First Color Scheme
$melon: #f79862;
$royal: #f9812a;
$squash: #cb5c0d;

// Second Color Scheme
$baby-blue: #89dff0;
$olympic: #008ecc;
$sapphire: #0f52ba;

//Third Color Scheme
$white: #fff;
$light-gray: #D1D1D1;
$smoky-black: #0c0910;

// Typography

// Font Family
$nunito: 'Nunito', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Font Weight
$light: 300;
$semi-bold: 600;

// Font Size
$xx-large: 36px;
$x-large: 28px;
$large: 18px;
$medium: 16px;
$small: 14px;