/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Base Styles */
h2 {
  margin-bottom: 20px;
}

h3 {
  padding-bottom: 10px;
}

h4 {
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
}

/* Typography Styles */
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }
}
/* Header Styles */
.header {
  border-bottom: 1px solid #0c0910;
  padding: 10px 0;
  margin-bottom: 20px;
}

.navigation {
  margin-top: 7px;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
}

.navigation__item:first-child {
  display: none;
}

.navigation__link {
  color: #008ecc;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: block;
  margin: 0.3rem 0.8rem;
}
.navigation__link:hover {
  color: #0f52ba;
}

@media screen and (min-width: 576px) {
  .navigation {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item:first-child {
    display: block;
  }
}
/* Grid Styles */
/* Containers */
.container, .container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1440) {
  .container-fluid {
    width: 1360px;
  }
}
/* Rows */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/* Cols */
.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media screen and (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
/* Aside Style */
.aside {
  display: none;
}

@media screen and (min-width: 992px) {
  .aside {
    padding-left: 20px;
    display: block;
    margin-top: -5px;
  }
}
/* About Styles */
.about {
  border-bottom: 1px solid #0c0910;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

/* Tags Styles */
.tags {
  border-bottom: 1px solid #0c0910;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.tags__item {
  margin: 5px;
}

.tags__link {
  background-color: #008ecc;
  color: #fff;
  padding: 0.2rem 0.5rem;
}
.tags__link:hover {
  background-color: #0f52ba;
}
.tags__link:focus {
  background-color: #89dff0;
  color: #0f52ba;
}

/* Newsletter Styles */
.newsletter {
  background-color: #D1D1D1;
  text-align: center;
  padding: 40px 0;
  margin-top: 40px;
}

/* Footer Styles */
.footer {
  padding-top: 10px;
  text-align: center;
}

/* Button Styles */
.button {
  padding: 0.15rem 0.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.button--primary {
  background-color: #f9812a;
  color: #fff;
  border: 1px solid #cb5c0d;
  cursor: pointer;
}
.button--primary:hover {
  background-color: #cb5c0d;
}
.button--primary:focus {
  background-color: #f79862;
}

@media screen and (min-width: 576px) {
  .button {
    padding: 0.15rem 1rem;
  }
}
/* Inputs Styles */
.input-text {
  width: 120px;
  border: 1px solid #0c0910;
  padding: 0.22rem 0.5rem;
}

.input-text--rounded {
  border-radius: 0.7rem;
}

@media screen and (min-width: 576px) {
  .input-text {
    width: auto;
  }
}
/* Post Styles */
/* Main Posts */
.post__title {
  font-size: 18px;
}

.post__image {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .post__image {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .post__image {
    height: auto;
  }
}
/* Featured Posts */
.post-featured {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.post-featured__title {
  font-size: 16px;
}

.post-featured__image {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
