/* Post Styles */

/* Main Posts */
.post__title {
    font-size: $large;
}
.post__image {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
    .post__image {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .post__image {
        height: auto;
    }
}

/* Featured Posts */
.post-featured {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}
.post-featured__title {
    font-size: $medium;
}
.post-featured__image {
    width: 100%;
}