/* Videos Styles */
.video {
    margin-bottom: 30px;
}
.video__thumbnail {
    margin-bottom: 10px;
}
.video__title {
    font-weight: $bold;
    font-size: $x-large;
    margin-bottom: 0;
    color: $raisin-black;
}