// Color Scheme

//First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Third Color Scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// Typography

// Font Family
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Font Weight
$font-light: 300;
$font-regular: 400;
$font-black: 900;

// Font Size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;