/* Header Styles */
.header {
    border-bottom: 1px solid $smoky-black;
    padding: 10px 0;
    margin-bottom: 20px;
}
.navigation {
    margin-top: 7px;
}
.navigation__list {
    display: flex;
    justify-content: flex-end;
}
.navigation__item:first-child{
    display: none;
}
.navigation__link {
    color: $olympic;
    font-family: $roboto-slab;
    font-weight: $semi-bold;
    display: block;
    margin: .3rem .8rem;
    &:hover {
        color: $sapphire;
    }
}

@media screen and (min-width: 576px) {
    .navigation {
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) {
    .navigation__item:first-child{
        display: block;
    }
}