/* Main-section Styles */
.main {
    display: flex;
    align-content: flex-start;
    padding: 10px 10px 30px 10px;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .main {
        width: 60%;
        padding-right: 15px;
    }
}

@media screen and (min-width: 992px) {
    .main {
        width: 70%;
    }
}