/* Article Styles */
.article {
   padding: 50px 0 50px;
}

.article_date {
    font-family: $playfair;
    font-weight: $font-black;
}

.article_social {
    padding: 10px 0 30px;
    text-align: center;
}

.article_button {
    margin: 0 5px;
}

@media screen and (min-width: 768px) {
    .article_social {
        text-align: left;
    }

    .article_button {
        margin-right: 20px;
    }
}