/* Article Styles */
.article {
   padding: 50px 0 50px;
}

.article__date {
    font-family: $playfair;
    font-weight: $font-black;
}

.article__social {
    padding: 10px 0 30px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .article__social {
        text-align: left;
    }
}