/* Author Styles */
.author {
    border-top: 2px solid $platinum;
    padding: 50px 0 60px;
}

.author__card{
    border: 0;
    text-align: center;
}

.author__thumbnail {
    margin: 0 auto;
}

.author__name {
    font-family: $playfair;
    font-style: italic;
    color: $eerie-black;
    font-weight: $font-black;
    line-height: 2.5rem;
    font-size: $x-large;
}

.author__email {
    font-size: $large;
}

.author__description {
    display: none;
}

@media screen and (min-width: 768px) {
    .author {
        padding: 70px 0 80px;
    }

    .author__card {
        text-align: left;
    }
    
    .author__description {
        display: block;
    }
}