/* Hero Styles */
.hero {
    background-image: url('../images/post-image.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    min-height: 40%;
    color: $white;
    text-align: center;
}

.hero__link {
    display: block;
    width: 42px;
    color: $white;
    transform: rotate(180deg);
    font-size: $x-large;
    &:hover {
        color: $fuzzy-wuzzy;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-position: 100% 100%;
    }

    .hero__container {
        width: 60vw;
        min-height: 50%;
    }

    .hero__link {
        width: 98px;
        font-size: $xx-large;
        margin-top: 30px;
    }
}