/* Pagination Style */
.pagination_section {
    background-color: $light-gray;
    padding: 70px 0 50px;
}

.pagination_item {
   &:first-child .pagination_link {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
   }
   &:last-child .pagination_link {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
   }
}
.pagination_item--active .pagination_link{
    background-color: $nickel;
    border: 1px solid $nickel;
    color: $white;
}

.pagination_link{
    color: $raisin-black;
    &:hover {
        background-color: $nickel;
        border: 1px solid $nickel;
        color: $white;
    }
    &:focus{
        outline: 0px;
    }
}