/* Typhography Styles */
body {
    font-family: $raleway;
    font-size: $medium;
    line-height: 1.5rem;
    font-weight: $regular;
}
h1 {
    font-family: $old-standard;
    font-size: $xx-large;
    font-weight: $bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3 {
    font-family: $old-standard;
    font-size: $x-large;
    font-weight: $bold;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) { 
    h1 {
        font-size: $xxx-large;
    }
    h3 {
        font-size: $xx-large;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) { 
    h3 {
        margin-bottom: 30px;
    }
}
