* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
}
.contenedor {
  padding: 30px;
}
h1,
.negrita {
  font-weight: 700;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  line-height: 1.3em;
}
.button {
  background-color: #4682b4;
  color: #fff;
  border: none;
  padding: 0.45rem 0.8rem;
  cursor: pointer;
  font-weight: 700;
}
.input-text {
  border: 1px solid #999;
  padding: 0.35rem 0.5rem;
}
.input-text::placeholder {
  font-style: italic;
  color: #999;
}

table {
  margin-bottom: 30px;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 0.3rem 0.8rem;
  border: 1px solid #999;
}
th {
  background-color: #eee;
}
.texto {
  margin-top: 20px;
}
