/* Thumbnails Styles */
.thumbnail {
    width: 131px;
    height: 133px;
}
.thumbnail__image {
    width: 100%;
    border-radius: 50%;
    border: 2px solid $light-gray;
}

@media screen and (min-width: 768px) {
    .thumbnail {
        width: 177px;
        height: 180px;
    }
}